In [7]:
import pandas as pd

# Cargar un archivo csv como df

In [8]:
#df = pd.read_csv("consolidated_coin_data.csv")
df = pd.read_csv("consolidated_coin_data.csv", thousands = ",", decimal = ".")

## Head

El método `head()` permite llamar las primeras 10 filas del dataframe. El método `head(n)`, por su parte, permite llamar las primeras *n* filas.

In [9]:
df.head()

  Currency          Date  Open  High   Low  Close      Volume  Market Cap
0    tezos  Dec 04, 2019  1.29  1.32  1.25   1.25  46048752.0   824588509
1    tezos  Dec 03, 2019  1.24  1.32  1.21   1.29  41462224.0   853213342
2    tezos  Dec 02, 2019  1.25  1.26  1.20   1.24  27574097.0   817872179
3    tezos  Dec 01, 2019  1.33  1.34  1.25   1.25  24127567.0   828296390
4    tezos  Nov 30, 2019  1.31  1.37  1.31   1.33  28706667.0   879181680

## Tail

El método `tail()` permite llamar las últimas 10 filas del dataframe. El método `tail(n)`, por su parte, permite llamar las últimas *n* filas.

In [10]:
df.tail()

         Currency          Date  Open  High   Low  Close  Volume  Market Cap
28939  bitcoin-sv  May 02, 2013  3.78  4.04  3.01   3.37     0.0    58287979
28940  bitcoin-sv  May 01, 2013  4.29  4.36  3.52   3.80     0.0    65604596
28941  bitcoin-sv  Apr 30, 2013  4.40  4.57  4.17   4.30     0.0    74020918
28942  bitcoin-sv  Apr 29, 2013  4.37  4.57  4.23   4.38     0.0    75388964
28943  bitcoin-sv  Apr 28, 2013  4.30  4.40  4.18   4.35     0.0    74636938

## Conocer el tipo de cada columna

In [11]:
df.dtypes

Currency       object
Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume        float64
Market Cap      int64
dtype: object

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28944 entries, 0 to 28943
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Currency    28944 non-null  object
 1   Date        28944 non-null  object
 2   Open        28944 non-null  float64
 3   High        28944 non-null  float64
 4   Low         28944 non-null  float64
 5   Close       28944 non-null  float64
 6   Volume      28944 non-null  float64
 7   Market Cap  28944 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 1.8+ MB

## Convertir la columna Date en datetime

In [13]:
df["Date"] = pd.to_datetime(df["Date"])

In [14]:
df.head()

  Currency       Date  Open  High   Low  Close      Volume  Market Cap
0    tezos 2019-12-04  1.29  1.32  1.25   1.25  46048752.0   824588509
1    tezos 2019-12-03  1.24  1.32  1.21   1.29  41462224.0   853213342
2    tezos 2019-12-02  1.25  1.26  1.20   1.24  27574097.0   817872179
3    tezos 2019-12-01  1.33  1.34  1.25   1.25  24127567.0   828296390
4    tezos 2019-11-30  1.31  1.37  1.31   1.33  28706667.0   879181680

In [15]:
df.dtypes

Currency              object
Date          datetime64[ns]
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume               float64
Market Cap             int64
dtype: object

## Describe
El método `describe()` entrega estadística descriptiva de cada columna. Si, además, se incluye el parámetro `include = "all"`, entrega estadística descriptiva detallada.

In [16]:
df.describe()

,Date,Open,High,Low,Close,Volume,Market Cap
count,28944,28944.000000,28944.000000,28944.000000,28944.000000,2.894400e+04,2.894400e+04
mean,2016-08-15 11:58:36.417910528,300.719915,309.832983,290.858557,300.947534,8.133058e+08,7.194826e+09
min,2013-04-28 00:00:00,0.001352,0.001509,0.001227,0.001357,0.000000e+00,0.000000e+00
25%,2014-12-21 18:00:00,0.205108,0.212444,0.196527,0.205347,2.418700e+05,6.345143e+07
50%,2016-08-15 12:00:00,2.995000,3.090000,2.880000,2.980000,5.212684e+06,3.453673e+08
75%,2018-04-10 06:00:00,24.430000,25.530000,23.270000,24.430000,1.554764e+08,3.422403e+09
max,2019-12-04 00:00:00,19475.800000,20089.000000,18974.100000,19497.400000,5.350913e+10,3.265025e+11
std,NaN,1373.884681,1416.598573,1325.072633,1374.461221,3.059516e+09,2.469322e+10

In [17]:
df.describe(include="all")

,Currency,Date,Open,High,Low,Close,Volume,Market Cap
count,28944,28944,28944.000000,28944.000000,28944.000000,28944.000000,2.894400e+04,2.894400e+04
unique,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,tezos,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,2412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2016-08-15 11:58:36.417910528,300.719915,309.832983,290.858557,300.947534,8.133058e+08,7.194826e+09
min,NaN,2013-04-28 00:00:00,0.001352,0.001509,0.001227,0.001357,0.000000e+00,0.000000e+00
25%,NaN,2014-12-21 18:00:00,0.205108,0.212444,0.196527,0.205347,2.418700e+05,6.345143e+07
50%,NaN,2016-08-15 12:00:00,2.995000,3.090000,2.880000,2.980000,5.212684e+06,3.453673e+08
75%,NaN,2018-04-10 06:00:00,24.430000,25.530000,23.270000,24.430000,1.554764e+08,3.422403e+09
max,NaN,2019-12-04 00:00:00,19475.800000,20089.000000,18974.100000,19497.400000,5.350913e+10,3.265025e+11
std,NaN,NaN,1373.884681,1416.598573,1325.072633,1374.461221,3.059516e+09,2.469322e+10

## Seleccionar solo columnas `Currency`, `Date`, `Close` y `Volume`

In [18]:
df_2 = df[["Currency", "Date", "Close", "Volume"]]
df_2

         Currency       Date  Close      Volume
0           tezos 2019-12-04   1.25  46048752.0
1           tezos 2019-12-03   1.29  41462224.0
2           tezos 2019-12-02   1.24  27574097.0
3           tezos 2019-12-01   1.25  24127567.0
4           tezos 2019-11-30   1.33  28706667.0
...           ...        ...    ...         ...
28939  bitcoin-sv 2013-05-02   3.37         0.0
28940  bitcoin-sv 2013-05-01   3.80         0.0
28941  bitcoin-sv 2013-04-30   4.30         0.0
28942  bitcoin-sv 2013-04-29   4.38         0.0
28943  bitcoin-sv 2013-04-28   4.35         0.0

[28944 rows x 4 columns]

## Cuenta la cantidad de criptomonedas del dataframe

In [19]:
df_2["Currency"].value_counts()

Currency
tezos           2412
binance-coin    2412
eos             2412
bitcoin         2412
tether          2412
xrp             2412
bitcoin-cash    2412
stellar         2412
litecoin        2412
ethereum        2412
cardano         2412
bitcoin-sv      2412
Name: count, dtype: int64

## Crea un dataframe con precios de cierre y fecha de bitcoin, otro con xrp, y otro con ethereum

In [20]:
df_temp = df_2.drop(columns = ["Volume"])

df_bitcoin = df_temp.query('Currency == "bitcoin"')
df_xrp = df_temp.query('Currency == "xrp"')
df_ethereum = df_temp.query('Currency == "ethereum"')

In [21]:
df_ethereum.head()

       Currency       Date   Close
21708  ethereum 2019-12-04  146.75
21709  ethereum 2019-12-03  147.96
21710  ethereum 2019-12-02  149.06
21711  ethereum 2019-12-01  151.19
21712  ethereum 2019-11-30  152.54

También se puede filtrar directamente dentro del df:

In [22]:
df_bitcoin_2 = df_temp[df_temp["Currency"]=="bitcoin"]
df_bitcoin_2.head()

     Currency       Date    Close
7236  bitcoin 2019-12-04  7252.03
7237  bitcoin 2019-12-03  7320.15
7238  bitcoin 2019-12-02  7321.99
7239  bitcoin 2019-12-01  7424.29
7240  bitcoin 2019-11-30  7569.63

## En cada dataframe creado, cambie el nombre de la columna de `Close` al nombre de la criptomoneda asociada al df. Luego, solo deje Fecha y precio de cierre.

In [23]:
df_bitcoin = df_bitcoin.rename(columns = {"Close":"bitcoin"})
df_bitcoin = df_bitcoin.drop(columns = ["Currency"])

df_xrp = df_xrp.rename(columns = {"Close":"xrp"})
df_xrp = df_xrp.drop(columns = ["Currency"])

df_ethereum = df_ethereum.rename(columns = {"Close":"ethereum"})
df_ethereum = df_ethereum.drop(columns = ["Currency"])

In [24]:
df_xrp.head()

            Date       xrp
12060 2019-12-04  0.216348
12061 2019-12-03  0.219870
12062 2019-12-02  0.219581
12063 2019-12-01  0.225333
12064 2019-11-30  0.226474

## Una los tres df en uno solo.

In [25]:
df_merge = pd.merge(df_bitcoin, df_xrp, how = "left", on = "Date")
df_merge

           Date  bitcoin         xrp
0    2019-12-04  7252.03    0.216348
1    2019-12-03  7320.15    0.219870
2    2019-12-02  7321.99    0.219581
3    2019-12-01  7424.29    0.225333
4    2019-11-30  7569.63    0.226474
...         ...      ...         ...
2407 2013-05-02   105.21  105.210000
2408 2013-05-01   116.99  116.990000
2409 2013-04-30   139.00  139.000000
2410 2013-04-29   144.54  144.540000
2411 2013-04-28   134.21  134.210000

[2412 rows x 3 columns]

In [28]:
df_merge = pd.merge(df_merge, df_ethereum, how = "left", on = "Date")
df_merge.head()

        Date  bitcoin       xrp  ethereum
0 2019-12-04  7252.03  0.216348    146.75
1 2019-12-03  7320.15  0.219870    147.96
2 2019-12-02  7321.99  0.219581    149.06
3 2019-12-01  7424.29  0.225333    151.19
4 2019-11-30  7569.63  0.226474    152.54

## Haga un `describe()` al df y explique las principales características de los datos.

In [29]:
df_merge.describe()

                      Date       bitcoin          xrp     ethereum
count                 2412   2412.000000  2412.000000  2412.000000
mean   2016-08-15 12:00:00   3023.498777     4.529477   263.434610
min    2013-04-28 00:00:00     68.430000     0.002810     0.434829
25%    2014-12-21 18:00:00    375.312500     0.006636    46.335000
50%    2016-08-15 12:00:00    701.945000     0.015880   211.345000
75%    2018-04-10 06:00:00   5756.890000     0.316083   378.157500
max    2019-12-04 00:00:00  19497.400000   144.540000  1396.420000
std                    NaN   3770.438284    21.338320   251.481798

# Usando loc e iloc para seleccionar filas y columnas

In [30]:
# Usando loc para seleccionar filas por etiquetas y columnas específicas
# Seleccionamos las filas donde la fecha es "2019-12-04" y las columnas "Date" y "bitcoin"
example_loc = df_merge.loc[df_merge["Date"] == "2019-12-04", ["Date", "bitcoin"]]
print("Ejemplo con loc:")
print(example_loc)

# Usando iloc para seleccionar filas y columnas por índices
# Seleccionamos las primeras 5 filas y las primeras 2 columnas
example_iloc = df_merge.iloc[:5, :2]
print("\nEjemplo con iloc:")
print(example_iloc)

Ejemplo con loc:
        Date  bitcoin
0 2019-12-04  7252.03

Ejemplo con iloc:
        Date  bitcoin
0 2019-12-04  7252.03
1 2019-12-03  7320.15
2 2019-12-02  7321.99
3 2019-12-01  7424.29
4 2019-11-30  7569.63

## Finalmente, exporte `df_merge` a un archivo Excel

In [ ]:
df_merge.to_excel("df_merge.xlsx")